# Global Clock Nets
NET "clk" BUFG=CLK;

# Global Clock Nets
NET "sp_clk" BUFG=CLK;

# 96MHz clock domain
NET "clk" TNM_NET = clk_period_grp_1;
TIMESPEC TS_clk_period_1 = PERIOD "clk_period_grp_1" 5.2ns HIGH;

# 10MHz clock domain
#NET "sp_clk" TNM_NET = clk_period_grp_2;
#TIMESPEC TS_clk_period_2 = PERIOD "clk_period_grp_2" 100ns HIGH;

NET "clk"       LOC = "P15";       # input  gpio21 (GCK1)

NET "R3_I"      LOC = "P52";       # input
NET "G3_I"      LOC = "P63";       # input
NET "B3_I"      LOC = "P59";       # input
NET "R2_I"      LOC = "P51";       # input
NET "G2_I"      LOC = "P62";       # input
NET "B2_I"      LOC = "P58";       # input
NET "R1_I"      LOC = "P50";       # input  (was gpio26)
NET "G1_I"      LOC = "P61";       # input  (was gpio19)
NET "B1_I"      LOC = "P57";       # input  (was gpio16)
NET "R0_I"      LOC = "P49";       # input  (was gpio27)
NET "G0_I"      LOC = "P60";       # input  (was gpio25)
NET "B0_I"      LOC = "P56";       # input  (was gpio24)

NET "csync_I"   LOC = "P17";       # input
NET "vsync_I"   LOC = "P48";       # input  (pin assigned but not connected)

NET "analog"    LOC = "P20";       # input  gpio22 (DETECT)

NET "version"   LOC = "P64";       # input  gpio18 (GSR)

NET "sp_clk"    LOC = "P16";       # input  gpio20 (GCK2) (TCK)
NET "sp_data"   LOC = "P27";       # input  gpio0  (input only) (TDI)
NET "sp_clken"  LOC = "P31";       # input  gpio1  (input only) (TMS)

NET "quad(0)"   LOC = "P1";        # output gpio2 (B0_3V3)
NET "quad(1)"   LOC = "P2";        # output gpio3 (B1_3V3)
NET "quad(2)"   LOC = "P4";        # output gpio4 (B2_3V3)
NET "quad(3)"   LOC = "P10";       # output gpio5 (B3_3V3)
NET "quad(4)"   LOC = "P11";       # output gpio6 (G0_3V3)
NET "quad(5)"   LOC = "P13";       # output gpio7 (G1_3V3)
NET "quad(6)"   LOC = "P12";       # output gpio8 (G2_3V3)
NET "quad(7)"   LOC = "P8";        # output gpio9 (G3_3V3)
NET "quad(8)"   LOC = "P7";        # output gpio10 (R0_3V3)
NET "quad(9)"   LOC = "P9";        # output gpio11 (R1_3V3)
NET "quad(10)"  LOC = "P18";       # output gpio12 (R2_3V3)
NET "quad(11)"  LOC = "P19";       # output gpio13 (R3_3V3)

NET "psync"     LOC = "P5";        # output gpio17 (Pi_CLK)
NET "csync"     LOC = "P6";        # output gpio23 (CSYNC_3V3)

NET "quad(0)"   SLOW;
NET "quad(1)"   SLOW;
NET "quad(2)"   SLOW;
NET "quad(3)"   SLOW;
NET "quad(4)"   SLOW;
NET "quad(5)"   SLOW;
NET "quad(6)"   SLOW;
NET "quad(7)"   SLOW;
NET "quad(8)"   SLOW;
NET "quad(9)"   SLOW;
NET "quad(10)"  SLOW;
NET "quad(11)"  SLOW;
NET "psync"     SLOW;
NET "csync"     SLOW;
